<!DOCTYPE html>
<html lang="<%= config.language %>">

    <%- partial('partials/head') %>

<body>
    <%- partial('partials/header') %>
    
    <main>
        <%- body %>
    </main>
    
    <%- partial('partials/footer') %>
    
    <script src="<%- url_for('js/main.js') %>"></script>
</body>
</html>