<!DOCTYPE html>
<html lang="<%= config.language %>">

<%- partial('partials/head') %>
    <!-- class: 背景灰色、最小高度100vh -->

    <body class="container mx-auto bg-gray-50 min-h-screen">
        <!-- class: 网格布局、行高自动、1fr、自动 -->
        <div class="grid grid-rows-[auto_1fr_auto]">
            <div class="w-full">
                <%- partial('partials/header') %>
            </div>
            <div class="w-full flex">
                <div class="content w-[74%]">
                    <%- body %>
                </div>
                <div class="sidebar w-[26%]">
                    <%- partial('partials/sidebar') %>
                </div>
            </div>
            <div class="w-full">
                <%- partial('partials/footer') %>
            </div>
        </div>

        </div>

    </body>

    <!-- Scripts -->
    <script src="<%- url_for('js/main.js') %>"></script>

</html>